parameters:
	ignoreErrors:
		-
			message: '#^Function wrongReturn\(\) should return string but returns int\.$#'
			identifier: return.type
			count: 1
			path: ../fixtures/level3_return_type.php

		-
			message: '#^Method Level3Test\:\:getWrongType\(\) should return string but returns int\.$#'
			identifier: return.type
			count: 1
			path: ../fixtures/level3_return_type.php

		-
			message: '#^Method Level3Test\:\:noReturn\(\) with return type void returns string but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: ../fixtures/level3_return_type.php
