parameters:
	ignoreErrors:
		-
			message: '#^Class TestClass constructor invoked with 0 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../fixtures/level0_constructor_args.php
